.metadata div {
  margin-bottom: 10px;
}

.metadata__hashtags {
  font-size: 13px;
  color: #0a54cc;
}

.metadata__title {
  font-size: 0 20px;
}

.metadata__information {
  font-size: 15px;
  color: var(--sub-text-color);
}

.actions {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  border-bottom: 1px solid var(--divider-color);
  margin-top: -10px;
}

.actions__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--sub-text-color);
}

.actions__icon i {
  margin-bottom: 10px;
}

.actions__icon span {
  font-size: 13px;
}

.channel-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid var(--divider-color);
}

.channel-description__profile {
  display: flex;
  align-items: center;
}

.channel-description img {
  width: 50px;
  border-radius: 50px;
  margin-right: 10px;
}

.profile-name {
  font-size: 15px;
  margin-bottom: 5px;
}

.profile-subscribers {
  font-size: 13px;
  color: var(--sub-text-color);
}

.profile-subscribe {
  font-size: 16px;
  color: var(--sub-text-color);
}
