.up-next {
  margin: 10px 0;
  padding: 0 20px;
  flex: 1 50%;
}

.up-next > span {
  font-size: var(--font-micro);
  color: var(--dark-grey-color);
}

.item img {
  margin-top: 10px;
  width: 40%;
  flex: 1 1 35%;
}

.item {
  display: flex;
  align-items: flex-start;
}

.info {
  margin-top: 7px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  flex: 1 1 60%;
}

.info .title {
  margin-bottom: 5px;
}

.info .name,
.views {
  font-size: var(--font-small);
  line-height: 20px;
  color: var(--dark-grey-color);
}

.moreBtn {
  margin-top: 10px;
  flex: 1 1 5%;
}

.title {
  font-size: var(--font-medium);
}

.profile-subscribe {
  text-transform: uppercase;
  color: var(--brand-color);
}
