:root {
  /* Colors */
  --white-color: #ffffff;
  --black-color: #000000;
  --divider-color: #e0e0e0;
  --dark-grey-color: #606060;
  --light-grey-color: #989898;
  --highlight-color: #065fd4;
  --brand-color: #ff0100;

  /* Sizes */
  --side-padding: 0 20px;

  /* Font Sizes */
  --font-large: 17px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}
