.main-card__slides {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.cards__big {
  width: 445px;
  height: 275px;
  background-color: grey;
  border-radius: 5px;
}

@media screen and (min-width: 992px) {
  .cards__big {
    width: 445px;
  }
}

@media screen and (max-width: 760px) {
  .main-card__slides div:not(.cards__big) {
    width: 159px;
    height: 204px;
  }
  .cards__big {
    width: 252px;
    height: 204px;
  }
}

.cards {
  width: 214px;
  height: 275px;
  background-color: grey;
  border-radius: 5px;
}

.main-card__navigation {
  object-fit: cover;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 110px;
  width: 100%;
}

.main-card__navigation div {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-card__navigation svg {
  width: 22px;
  color: #72768b;
}

@media screen and (max-width: 769px) {
  .main-card__navigation {
    display: none;
  }
}
