@media screen and (max-width: 766px) {
  .platform-bar {
    opacity: 0;
  }
}

.platform-bar {
  background-color: #f2f3f7;
  padding: 12px 0 10px 0;
  font-size: 13px;
  font-weight: 500;
  color: #6d738a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.platform-bar__column {
  display: flex;
  align-items: center;
  justify-content: center;
}
.platform-bar__column span {
  margin: 0 8px;
}
.platform-bar__column:last-child span:last-child a {
  align-items: center;
}
/* Language not aligned... */

.platform-bar__column:last-child svg {
  width: 13px;
  margin-left: -4px;
}
