.screen-header {
  display: flex;
  justify-content: space-between;
  font-size: var(--main-text-color);
  margin-top: 2.5px;
}

.screen-header__column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.screen-header__column img {
  width: 150px;
  margin-right: 20px;
}

.screen-header svg:not(.screen-header__logo) {
  width: 20px;
  height: 20px;
}

.screen-header__section {
  margin: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.screen-header__section > span {
  margin-left: 6px;
}

.screen-header__column:last-child > .screen-header__section:first-child {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.screen-header__column:last-child > .screen-header__section:first-child svg {
  width: 15px;
}
