.border-line {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.main-card__categories {
  font-size: 17px;
  margin-top: 50px;
  color: var(--main-text-color);
  border-bottom: 2.5px solid #e8e8e8;
  padding-bottom: 13px;
}

.main-card__categories span {
  margin-right: 15px;
  cursor: pointer;
  border-bottom: 2.5px solid #e8e8e8;
  padding-bottom: 12px;
}
