.border-line {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.main-banner {
  margin-top: 45px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(1px 3px 4px #448bdd3a);
}

.main-banner__img {
  display: none;
}
img {
  border-radius: 11px;
}

.main-banner__column:nth-child(2) {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 15px;
  right: 15px;
}

.main-banner__controller {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 30px;
  padding: 5px;
  padding-left: 10px;
  padding-top: 7px;
  font-size: 13px;
}

.main-banner__controller svg {
  width: 15px;
  cursor: pointer;
}
