:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.categories div {
  width: 20%;
  height: 20%;
  box-sizing: border-box;
  color: white;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.category-c-b {
  background-color: var(--color-blue);
  padding: 10px 20px;
  margin: 10px;
  font-size: 20px;
}

.category-c-y {
  background-color: var(--color-yellow);
  padding: 10px 20px;
  margin: 10px;
  font-size: 20px;
}

.category-c-p {
  background-color: var(--color-pink);
  padding: 10px 20px;
  margin: 10px;
  font-size: 20px;
}

#items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  padding: 10px;
  padding-left: 40px;
  background-color: var(--color-white);
  margin: 5px;
}

.item img {
  width: 30px;
  margin-right: 20px;
}

.visible {
  display: none;
}
